.r {
    margin: 0px;
    padding: 0px;
}

.r div {
    margin: 0px;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
    height: 75px;
    width: 75px;
    float: left;
}


#right-column {
    float: right;
    background-color: blue;
    display: inline-block;
}

.red-space {
    background-color: red;
}
.black-space {
    background-color: black;

}
/*.piece {
    background-image: url("red-crowned.png");
    background-size: 90%;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: 100%;
    padding: 5px;
}*/
.active-piece {
    box-shadow: 0 2px 15px yellow;
}
#checkerboard {
    display: inline-block;
    width: 600px;
    margin: 30px 20px 10px 20px;
    box-shadow: 0 0 10px gray;
}

.col8 {
    border-right: 2px gray;
    box-shadow: 30deg 10px 5px gray;
}

img {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /*padding-bottom: 20%;*/
}
.row {
    padding-top: 0;
    height: 80px;
}

.row div:after {
    content: "";
    display: block;
    padding-top: 100%;
}